.groupcontents
  .groupcontents__dummy
  .groupcontents__title
    グループ編集
  .groupcontents__main
    .groupcontents__main--new
    =form_for @group do |f|
      = f.text_field :name, class: "groupcontents__main--field", placeholder: "グループ名"
      = f.submit "グループ編集", class: "groupcontents__main--submit"
      = link_to "グループ削除", "/groups/#{@group.id}", method: :delete, class: "groupcontents__main--delete"