.groupcontents
  .groupcontents__dummy
  .groupcontents__title
    グループ作成
  .groupcontents__main
    .groupcontents__main--new
    =form_for @group do |f|
      = f.text_field :name, class: "groupcontents__main--field", placeholder: "グループ名"
      = f.submit "グループ作成", class: "groupcontents__main--submit"