.footer
  .footer__contents
    .footer__contents--contact
    =link_to "#" do
      お問い合わせ
    .footer__contents--weare
    =link_to "#" do
      企業情報
    .footer__containts--recruit
    =link_to "#" do
      採用情報
    .footer__containts--terms
    =link_to "#" do
      利用規約
    .footer__contents--logo
      ©︎Itsumono