.header
  .header__logo
    .header__logo--icon
    .header__logo--title
      いつもの
  .header__contents
    .header__contents--use
      使いかた
    .header__contents--signup
      新登録
    .header__contents--login
      ログイン