.contents
  .contents__title
    .contents__title--howto
      使い方
    .contents__title--instractions
      ①. ユーザーを登録
      %br
      ②. グループを作成
      %br
      ③. グループにアクセス
      %br
      ④. 登録アイテムの一覧を確認
      %br
      ⑤. アイテム追加登録も可能