.contents
  .contents__title
    .contents__title--main
      -# いつもの
    .contents__title--sub
      すべての家庭に "いつもの" はある
    .contents__title--how
      採用ご担当者様へ
      %br
      ①. ログインにアクセス
      %br
      ②. "簡単ログイン"にてログイン
      %br
      ③. その後グループ一覧より
      %br
      ④. グループにアクセス
      %br
      ⑤. 日用品一覧が表示されます。