.postcontents
  .postcontents__main
    .postcontents__main--dummy
    .postcontents__main--add-item
      = link_to "アイテムを追加する", new_post_path ,method: :get
    
    .postcontents__main--item-list
      "いつもの"一覧