.header {
  font-family: 'Noto Sans JP', sans-serif;
  height: 50px;
  width: 100vw;
  background-color: white;
  flex-direction: space-around;
  display: flex;
  &__logo {
    display: flex;
    flex-direction: space-around;
    height: 30px;
    width: 150px;
    margin:auto;
    padding-left: 30px;
    &--icon {
    }
    &--title {
      font-size: 20px;
      line-height: 30px;
    }
  }
  &__contents {
    width: 100vw;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
    line-height: 50px;
    color: gray;
    &--grouplist {
      margin-right: 40px;
    }
    &--newgroup {
      margin-right: 40px;
    }
    &--logout {
      margin-right: 40px;
    }
    &--use {
      margin-right: 60px;
    }
    &--signup {
      margin-right: 40px;
    }
    &--login {
      margin-right: 40px;
    }
  }
}