.contents {
  min-height: 100vh;
  min-width: 100vw;
  background-image: image-url('wood-3173282.jpg');
  background-size: cover;
  &__title {
    font-size: 100px;
    color: white;
  }
  &__message {
    font-size: 30px;
    color: white;
  }
}