
.contents {
  font-family: 'Noto Sans JP', sans-serif;
  min-height: calc(100vh - 100px);
  min-width: 100vw;
  background-image: image-url('wood-3173282.jpg');
  background-size: cover;
  position: relative;
  padding: 50px , 0 ;
  &__title {
    float: right;
    margin: 30px 100px 0px 0px;
    &--main {
      background-color: white;
      font-size: 150px;
      color: black;
      border-radius: 10px;
      opacity: 0.9;
    }
    &--sub {
      background-color: white;
      font-size: 30px;
      color: black;
      text-align: center;
      margin-top: 10px;
      border-radius: 10px;
      opacity: 0.8;
    }
    &--howto {
      background-color: white;
      font-size: 30px;
      color: black;
      text-align: center;
      margin-top: 10px;
      border-radius: 10px;
      opacity: 0.8;
    }
    &--instractions {
      text-align: left;
      background-color: white;
      font-size: 30px;
      color: black;
      border-radius: 10px;
      opacity: 0.8;
      margin-top: 20px;
      padding: 10 10;
    }
  }
}